@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

// @import url(../node_modules/bootstrap-icons/font/bootstrap-icons.css);
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

$font-family-sans-serif: "Montserrat", sans-serif;
$border-radius: 0;
$component-active-bg: black;

// @import url(../node_modules/bootstrap/scss/bootstrap.scss);
@import "../node_modules/bootstrap/scss/bootstrap.scss";

.del-btn {
  //   display: none;
  transform: scale(0);
  transition: 0.5s;
}

tr:hover .del-btn {
  //   display: inline;
  transform: scale(1);
}
